@import "../../../../styles/variables.scss";

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__navlinks {
		&--mobile {
			display: none;

			@media (min-width: 625px) {
				display: block;
			}
		}

		ul {
			display: flex;
			list-style-type: none;

			li {
				font-size: 14px;
				line-height: 40px;
				font-family: $font-source;
				font-weight: bold;
				letter-spacing: 0.5px;
				color: $white;
				padding: 10px;

				@media (min-width: 625px) {
					font-size: 18px;
				}
			}
		}

		.active li {
			color: $yellow;
		}
	}

	&__login {
	}
}
