@import "./styles/variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-roboto;
	font-weight: lighter;
}

body {
	background-color: $brown;
}

main {
	width: 100%;
	min-height: calc(100vh - 105px);
}

a {
	text-decoration: none;
}
