@import "../../../../styles/variables.scss";

.hero {
	display: flex;
	width: 250px;
	min-height: 350px;
	margin-bottom: 50px;

	&:hover img:first-child {
		opacity: 1;
	}

	&:hover img:nth-child(2) {
		opacity: 0.1;
	}

	&__content {
		display: flex;
		flex-direction: column;

		&__images {
			position: relative;

			img {
				position: absolute;
				top: 0px;
				transition: all 0.3s;
				cursor: pointer;

				&:nth-child(1) {
					opacity: 0.1;
				}
			}
		}

		&__title {
			position: relative;
			top: 14px;
			left: 20px;

			p {
				$font-family: $font-source;
				font-weight: bold;
				font-size: 22px;
				color: $white;
				text-shadow: 1px 3px 5px #513824;
				text-transform: capitalize;
			}
		}
	}
}
