@import "../../styles/variables.scss";

.button {
	padding: 7px 20px;
	border: 2px solid $dark-brown;
	background-color: $light-brown;
	border-radius: 4px;
	font-family: $font-roboto;
	font-size: 16px;
	line-height: 23px;
	letter-spacing: 1.5px;
	font-weight: bold;
	color: $white;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s;

	&:hover {
		border: 2px solid $light-brown;
		background-color: $dark-brown;
	}

	&--yellow {
		border: 2px solid #bda77d;
		color: $dark-brown;
		background-color: #bda77d;
		border-left: none;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;

		&:hover {
			border: 2px solid #bda77d;
			color: $white;
			background-color: #bda77d;
			border-left: none;
		}
	}
}
