@import "../../styles/variables.scss";

.smallbanner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	background-image: url("../../utils/images/background/banner-small3.jpg");
	border-bottom: 5px solid #1a2423;

	&--first {
		background-image: url("../../utils/images/background/banner-small1.jpg");
	}

	&--second {
		background-image: url("../../utils/images/background/banner-small2.jpg");
	}

	&--third {
		background-image: url("../../utils/images/background/banner-small3.jpg");
	}

	&--fourth {
		background-image: url("../../utils/images/background/banner-small4.jpg");
	}

	h2 {
		$font-family: $font-source;
		font-weight: bold;
		font-size: 60px;
		color: $white;
	}
}
