@import "../../styles/variables.scss";

.pillbox {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 4px 11px;
	border-radius: 6px;
	border: 1px solid $white;
	color: $white;
	margin: 0px 7.5px;
	cursor: pointer;
	transition: all 0.5s;
	color: $white;

	&:hover {
		background-color: $white;
	}

	&:hover p {
		color: $black !important;
	}

	p {
		$font-family: $font-roboto;
		font-size: 14px;
		transition: all 0.5s;
	}
}
