@import "../../styles/variables.scss";

.decktracker {
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 40px 0px;
	background-color: #0c1417;

	&__error {
		width: 600px;
		margin: auto;
		color: #721c24;
		text-align: center;
		margin-bottom: 10px;

		&__message {
			font-family: $font-roboto;
			font-size: 16px;
			line-height: 20px;
			font-weight: bold;
			color: #721c24;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: auto;

		&__content {
			text-align: center;
			margin-bottom: 20px;

			h2 {
				$font-family: $font-source;
				font-weight: bold;
				font-size: 40px;
				line-height: 40px;
				color: $yellow;
				margin-bottom: 10px;
			}

			p {
				$font-family: $font-source;
				font-size: 16px;
				line-height: 20px;
				color: $white;
			}
		}

		&__form {
			display: flex;
			margin: auto;
			width: 60%;

			input {
				font-family: $font-roboto;
				width: 100%;
				border-radius: 12px;
				padding: 0px 20px;
				border: 2px solid #bda77d;
			}

			button {
				position: relative;
				right: 10px;
			}
		}
	}

	&__options {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 600px;
		height: auto;
		margin: auto;
		margin-top: 15px;

		&__title {
			display: flex;
			align-items: center;
			justify-content: space-between;
			p {
				$font-family: $font-source;
				font-size: 16px;
				line-height: 20px;
				color: $white;

				span {
					font-weight: bold;
				}
			}
		}
	}
}
